{
  "presets": ["es2015"],
  "plugins": [
    "syntax-async-functions",
    "syntax-class-properties",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-rewire"]
    }
  }
}
